<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Từ Thiện - CTCA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS==================================================-->
    <link rel="stylesheet" th:href="@{/resources/front/plugins/css/plugins.css}">
    <link th:href="@{/resources/front/css/style.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" th:href="@{/resources/front/css/colors/green-style.css}">

    <style>
        .disabled {
            pointer-events: none;
            opacity: .65;
        }

       .brows-job-position h3 {
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
        }
        .grid-view-caption {
            margin: 1em 0 0;
        }
        .paid-candidate-box-detail h4 {
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/front/header :: header}"></div>

    <!-- Title Header Start -->
    <section class="inner-header-title" th:style="'background-image: url(\'' + @{/resources/front/img/banner_3.jpg} + '\');'">
        <div class="container">
            <h1>Từ Thiện</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

    <!-- ========== Begin: Brows job Category ===============  -->
    <section class="brows-job-category">
        <div class="container">
            <!-- Search Start -->
            <div class="row extra-mrg">
                <div class="wrap-search-filter">
                    <form method="get"
                          th:action="@{/charity}">
                        <div class="col-md-3 col-sm-3">
                            <input name="key" type="text" class="form-control" placeholder="Tìm Kiếm">
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button type="submit" class="btn btn-success full-width">Tìm Kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Search End -->

            <!--Browse Job In Grid-->
            <div class="row extra-mrg">
                <th:block th:if="${charityList != null AND !charityList.isEmpty()}" th:each="item : ${charityList}">
                    <div class="col-md-4 col-sm-6">
                        <div class="grid-view brows-job-list">
                            <div class="brows-job-company-img" style="width: 200px; margin:10px auto; height:200px;
                                max-width: 200px; border-radius: 10%; margin: 0px auto;">
                                <img th:src="@{${item.image}}" alt="" style="width: 200px; margin:10px auto; height:200px;
                                    max-width: 200px; border-radius: 10%; margin: 0px auto;"/>
                            </div>

                            <div class="brows-job-position">
                                <h3><a th:href="@{'/charity/detail/' + ${item.id}}" th:text="${item.title}"></a></h3>
                            </div>

                            <ul class="grid-view-caption">
                                <li>
                                    <p><span class="brows-job-sallery">Bắt Đầu : [[${item.startDate}]]</span></p>
                                </li>
                                <li>
                                    <p><span class="brows-job-sallery">Kết Thúc : [[${item.endDate}]]</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${charityList == null OR charityList.isEmpty()}">
                    <h2 style="color: red; text-align: center;">Không tìm thấy chương trình từ thiện</h2>
                </th:block>
            </div>
            <!--/.Browse Job In Grid-->

            <div class="row">
                <th:block th:if="${totalPage > 1 AND !charityList.isEmpty()}">
                    <ul class="pagination" th:with="pageURLPrefix = '/charity' + '?page='">
                        <li th:class="${currentPage > 1 ? '' : 'disabled'}">
                            <a th:href="@{${pageURLPrefix}} + ${currentPage - 1}">
                                &laquo;
                            </a>
                        </li>

                        <th:block th:if="${totalPage <= 4}"
                                  th:each="index : ${#numbers.sequence(1, totalPage)}" >
                            <li th:class="${currentPage == index ? 'active' : ''}">
                                <a th:href="@{${pageURLPrefix}} + ${index}" th:text="${index}"></a>
                            </li>
                        </th:block>

                        <th:block th:if="${totalPage > 4}">

                            <th:block th:if="${currentPage <= 2 || currentPage > totalPage - 2}">

                                <th:block th:each="index : ${#numbers.sequence(1, 2)}">
                                    <li th:class="${currentPage == index ? 'active' : ''}">
                                        <a th:href="@{${pageURLPrefix}} + ${index}" th:text="${index}"></a>
                                    </li>
                                </th:block>

                                <th:block th:if="${currentPage <= 2}">
                                    <li th:class="${currentPage == index ? 'active' : ''}">
                                        <a th:href="@{${pageURLPrefix}} + '3'">...</a>
                                    </li>
                                </th:block>

                                <th:block th:if="${currentPage >= totalPage - 1}">
                                    <li th:class="${currentPage == index ? 'active' : ''}">
                                        <a th:href="@{${pageURLPrefix}} + ${totalPage - 2}">...</a>
                                    </li>
                                </th:block>

                                <th:block th:each="index : ${#numbers.sequence(totalPage - 1, totalPage)}">
                                    <li th:class="${currentPage == index ? 'active' : ''}" >
                                        <a th:href="@{${pageURLPrefix}} + ${index}" th:text="${index}"></a>
                                    </li>
                                </th:block>

                            </th:block>

                            <th:block th:if="${currentPage > 2 && currentPage < totalPage - 1}">

                                <li th:class="${currentPage == index ? 'active' : ''}">
                                    <a th:href="@{${pageURLPrefix}} + ${currentPage - 2}">...</a>
                                </li>

                                <th:block th:each="index : ${#numbers.sequence(currentPage - 1, currentPage + 1)}">
                                    <li th:class="${currentPage == index ? 'active' : ''}">
                                        <a th:href="@{${pageURLPrefix}} + ${index}" th:text="${index}"></a>
                                    </li>
                                </th:block>

                                <li th:class="${currentPage == index ? 'active' : ''}">
                                    <a th:href="@{${pageURLPrefix}} + ${currentPage + 2}">...</a>
                                </li>

                            </th:block>

                        </th:block>

                        <li th:class="${currentPage < totalPage ? '' : 'disabled'}">
                            <a th:href="@{${pageURLPrefix}} + ${currentPage + 1}">
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </th:block>

                <th:block th:if="${totalPage == 1}">
                    <ul class="pagination" th:with="pageURLPrefix = '/charity'+ '?page='">

                        <li class="disabled">
                            <a href="#">
                                &laquo;
                            </a>
                        </li>

                        <li>
                            <a class="active" th:text="'1'"></a>
                        </li>

                        <li class="disabled">
                            <a href="#">
                                &raquo;
                            </a>
                        </li>

                    </ul>
                </th:block>
            </div>

        </div>
    </section>
    <!-- ========== Begin: Brows job Category End ===============  -->


    <div class="clearfix"></div>
    <div th:replace="~{fragments/front/footer :: footer}"></div>

    <!-- Scripts
    ================================================== -->
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/viewportchecker.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootsnav.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/wysihtml5-0.3.0.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap-wysihtml5.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/datedropper.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/dropzone.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/loader.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/slick.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/gmap3.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/resources/front/js/custom.js}"></script>
    <script th:src="@{/resources/front/js/jQuery.style.switcher.js}"></script>
    <script type="text/javascript">
				$(document).ready(function() {
					$('#styleOptions').styleSwitcher();
				});
			</script>
    <script>
				function openRightMenu() {
					document.getElementById("rightMenu").style.display = "block";
				}

				function closeRightMenu() {
					document.getElementById("rightMenu").style.display = "none";
				}
			</script>
</div>
</body>

<!-- browse-jobs-grid41:26-->
</html>