<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Thay Đổi Mật Khẩu - CTCA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS==================================================-->
    <link rel="stylesheet" th:href="@{/resources/front/plugins/css/plugins.css}">
    <link th:href="@{/resources/front/css/style.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" th:href="@{/resources/front/css/colors/green-style.css}">

    <style>
        .grid-view-caption li {
            width: 100%;
        }
        .grid-view .brows-job-company-img {
            width: 285px;
            margin-top: 25px;
            height: 240px;
            background: #fff;
            line-height: 80px;
            border: none;
            border-radius: 0;
        }
        .grid-view .brows-job-company-img img {
            margin: 0 auto;
            vertical-align: middle;
            display: inline-block;
            max-width: 100%;
            line-height: 50px;
            height: 100%;
        }
        .btn-primary.small-btn:hover{
            padding : 20px
        }

        .disabled {
            pointer-events: none;
            opacity: .65;
        }
        .has-error .control-label {
            color: #dc3545;
        }
        .has-error .form-control {
            border-color: #dc3545;
            padding-right: calc(1.5em + 0.75rem);
        }
        .invalid-feedback {
            width: 100%;
            margin-top: 0.25rem;
            font-size: .875em;
            color: #dc3545;
        }
    </style>

</head>
<body>
<div class="wrapper">

    <!-- Start Navigation -->
    <div th:replace="~{fragments/front/header :: header}"></div>

    <!-- End Navigation -->
    <div class="clearfix"></div>

    <!-- Header Title Start -->
    <section class="inner-header-title blank">
        <div class="container">
            <h1>Thông Tin Mật Khẩu</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Header Title End -->

    <!-- General Detail Start -->
    <div class="full-detail section">
        <div class="container white-shadow">
            <div class="row">
                <div class="detail-pic js">
                    <div class="box">
                        <input id="upload-pic" class="inputfile"/>
                        <label for="upload-pic"><i class="fa fa-upload" aria-hidden="true"></i><span></span></label>
                    </div>
                </div>
            </div>

            <div class="row bottom-mrg extra-mrg">
                <form th:action="@{/change/form}"
                      th:object="${accountDTO}"
                      method="post"
                      enctype="multipart/form-data">
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group" th:classappend="${#fields.hasErrors('oldPassword')} ? 'has-error' : ''">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="Mật Khẩu Cũ..."
                                   th:field="*{oldPassword}">
                        </div>
                        <p
                                class="invalid-feedback"
                                th:if="${#fields.hasErrors('oldPassword')}"
                                th:errors="*{oldPassword}"
                        ></p>

                            <div class="input-group" th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error' : ''">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" placeholder="Mật Khẩu Mới..."
                                       th:field="*{newPassword}">
                            </div>
                            <p
                                    class="invalid-feedback"
                                    th:if="${#fields.hasErrors('newPassword')}"
                                    th:errors="*{newPassword}"
                            ></p>

                                <div class="input-group" th:classappend="${#fields.hasErrors('verifyNewPassword')} ? 'has-error' : ''">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Nhập Lại Mật Khẩu Mới..."
                                           th:field="*{verifyNewPassword}">
                                </div>
                                <p
                                        class="invalid-feedback"
                                        th:if="${#fields.hasErrors('verifyNewPassword')}"
                                        th:errors="*{verifyNewPassword}"
                                ></p>


                    </div>
                    <div class="row bottom-mrg extra-mrg">
                        <div class="col-md-12 col-sm-12">
                            <input type="hidden" name="id" class="form-control" th:field="*{id}"/>
                            <button class="btn btn-success btn-primary small-btn">Thay Đổi Mật Khẩu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- General Detail End -->

    <div th:replace="~{fragments/front/footer :: footer}"></div>

    <!-- Scripts
    ================================================== -->
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/viewportchecker.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootsnav.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/wysihtml5-0.3.0.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap-wysihtml5.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/datedropper.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/dropzone.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/loader.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/slick.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/gmap3.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/resources/front/js/custom.js}"></script>
    <script th:src="@{/resources/front/js/jQuery.style.switcher.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#styleOptions').styleSwitcher();
        });
    </script>
    <script>
        function openRightMenu() {
            document.getElementById("rightMenu").style.display = "block";
        }

        function closeRightMenu() {
            document.getElementById("rightMenu").style.display = "none";
        }
    </script>
</div>
</body>

<!-- browse-jobs-grid41:26-->
</html>