<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="sidebar">
        <aside class="sidebar navbar-default" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/back/dashboard"><i class="fa fa-dashboard fa-fw"></i> Tổng Quan</a>
                    </li>
                    <li>
                        <a href="/back/account"><i class="fa fa-users fa-fw"></i> Tài Khoản</a>
                    </li>

                    <li>
                        <a href="/back/category"><i class="fa fa-book fa-fw"></i> Danh Mục</a>
                    </li>

                    <li>
                        <a href="/back/post"><i class="fa fa-file fa-fw"></i> Bài Đăng</a>
                    </li>

                    <li>
                        <a href="/back/charity"><i class="fa fa-heart fa-fw"></i> Từ Thiện</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Báo Cáo<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/back/report/post">Bài Đăng</a>
                            </li>
                            <li>
                                <a href="/back/report/charity">Từ Thiện</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </aside>
        <!-- /.sidebar -->
    </div>

</body>
</html>
