<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quên Mật Khẩu | CTCA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS ================================================== -->
    <link rel="stylesheet" th:href="@{/resources/front/plugins/css/plugins.css}">
    <!-- Custom style -->
    <link th:href="@{/resources/front/css/style.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" th:href="@{/resources/front/css/colors/green-style.css}">

    <style>
        .text-danger {
            color: #f52c28;
        }
    </style>

</head>
<body>

<div class="wrapper">
    <!-- Title Header Start -->
    <section class="signup-screen-sec">
        <div class="container">
            <div class="row">
                <div class="alert alert-success alert-dismissible col-md-12" th:if="${error}">
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Thông Báo!</h5>
                    <span>Gửi yêu cầu thành công vui lòng kiểm tra email!</span>
                </div>
                <div class="alert alert-warning alert-dismissible col-md-12" th:if="${errorExpire}">
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Thông Báo!</h5>
                    <span>Đã hết thời gian xác thực tài khoản, vui lòng gửi lại yêu cầu!</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="login-panel panel panel-default">
                        <a href="/"><img th:src="@{/resources/front/img/logo-app.png}" class="img-responsive"
                                         alt=""></a>

                        <form th:action="@{/forgot-password}" th:object="${accountDTO}" method="post" >
                            <div class="col-md-12 col-sm-6">
                                <input type="email" class="form-control" name="username" placeholder="Địa chỉ Email..."
                                       th:field="*{email}"
                                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
                                <p class="text-danger" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}"></p>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <button class="btn btn-login" style="margin: 20px auto" type="submit">Gửi Yêu Cầu</button>
                                <span style="color: #35434e">Bạn đã có tài khoản ? <a href="/login"  style="color: #07b107"> Đăng Nhập Ngay</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Scripts
   ================================================== -->
<script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/viewportchecker.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootsnav.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/wysihtml5-0.3.0.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap-wysihtml5.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/datedropper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/dropzone.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/loader.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/gmap3.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.easy-autocomplete.min.js}"></script>

<!-- Custom Js -->
<script th:src="@{/resources/front/js/custom.js}"></script>
<script th:src="@{/resources/front/js/jQuery.style.switcher.js}"></script>
</body>
</html>
