<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cập Nhật Mật Khẩu | CTCA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS ================================================== -->
    <link rel="stylesheet" th:href="@{/resources/front/plugins/css/plugins.css}">
    <!-- Custom style -->
    <link th:href="@{/resources/front/css/style.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" th:href="@{/resources/front/css/colors/green-style.css}">

    <style>
        .text-danger {
            color: #f52c28;
        }
    </style>

</head>
<body>

<div class="wrapper">
    <!-- Title Header Start -->
    <section class="signup-screen-sec">
        <div class="container">
            <div class="row">
                <div class="alert alert-default-success alert-dismissible col-md-12" th:if="${changePassword != null}">
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Thông Báo!</h5>
                    <span>Thay đổi mật khẩu thành công, vui lòng đăng nhập lại!</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="login-panel panel panel-default">
                        <a href="/"><img th:src="@{/resources/front/img/logo-app.png}" class="img-responsive" alt=""></a>
                        <form th:object="${accountDTO}"
                              th:action="@{/forgot-password/confirm/}" method="post"
                        >
                            <div class="col-md-12 col-sm-6">
                                <input type="password" name="newPassword" class="form-control"
                                       th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''"
                                       id="inputNewPassword" placeholder="Nhập mật khẩu mới" th:field="*{newPassword}">
                                <p class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <input type="password" name="confirmPassword" class="form-control"
                                       th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                                       id="inputVerifyNewPassword" placeholder="Nhập lại mật khẩu mới" th:field="*{confirmPassword}">
                                <p class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <input type="hidden" name="id" class="form-control" th:field="*{id}">
                                <button type="submit" class="btn btn-primary btn-block">Cập nhật dữ liệu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Scripts
   ================================================== -->
<script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/viewportchecker.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootsnav.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/wysihtml5-0.3.0.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap-wysihtml5.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/datedropper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/dropzone.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/loader.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/gmap3.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.easy-autocomplete.min.js}"></script>

<!-- Custom Js -->
<script th:src="@{/resources/front/js/custom.js}"></script>
<script th:src="@{/resources/front/js/jQuery.style.switcher.js}"></script>
</body>
</html>
