<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng Ký | CTCA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS ================================================== -->
    <link rel="stylesheet" th:href="@{/resources/front/plugins/css/plugins.css}">
    <!-- Custom style -->
    <link th:href="@{/resources/front/css/style.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" th:href="@{/resources/front/css/colors/green-style.css}">

    <style>
        .text-danger {
            color: #f52c28;
        }
    </style>

</head>
<body>

<div class="wrapper">
    <!-- Title Header Start -->
    <section class="signup-screen-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="login-panel panel panel-default">
                        <a href="/"><img th:src="@{/resources/front/img/logo-app.png}" class="img-responsive" alt=""></a>
                        <form method="post"
                              th:action="@{/register}"
                              th:object="${accountDTO}"
                        >
                            <div class="col-md-12 col-sm-12">
                                <select class="form-control input-lg" th:field="*{roleName}">
                                    <option value="USER">User</option>
                                </select>
                                <p class="text-danger" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}"></p>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Họ & Tên"
                                       th:field="*{fullName}">
                                <p class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <input type="email" class="form-control" placeholder="Địa Chỉ Email"
                                       th:field="*{email}" >
                                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <input type="text" class="form-control" placeholder="Số Điện Thoại"
                                       th:field="*{phone}" >
                                <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <input type="password"  class="form-control" placeholder="Mật Khẩu"
                                       th:field="*{password}" >
                                <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <input type="password" class="form-control" placeholder="Xác Nhận Mật Khẩu"
                                       th:field="*{confirmPassword}" >
                                <p class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <button class="btn btn-login" style="margin: 20px auto" type="submit" >Đăng Ký</button>
                                <span style="color: #35434e">Bạn đã có tài khoản ? <a href="/login" style="color: #07b107"> Đăng Nhập Ngay</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Scripts
   ================================================== -->
<script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/viewportchecker.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootsnav.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/wysihtml5-0.3.0.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap-wysihtml5.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/datedropper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/dropzone.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/loader.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/slick.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/gmap3.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.easy-autocomplete.min.js}"></script>

<!-- Custom Js -->
<script th:src="@{/resources/front/js/custom.js}"></script>
<script th:src="@{/resources/front/js/jQuery.style.switcher.js}"></script>
</body>
</html>
